{% load static %}
<!DOCTYPE HTML>
<html lang="ja">
<head>
<meta charset="utf-8">
<!-- <link rel="stylesheet" type="text/css" href="{% static 'common/css/bootstrap.min.css' %}" /> -->
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <p>SNS</p>
        <ul>
        </ul>
      </div><!-- /.card -->
    </div><!-- /.col -->
  </div><!-- /.row -->
  <div class="row">
    <div class="col">
      <div class="card">
      </div><!-- /.card -->
    </div><!-- /.col -->
  </div><!-- /.row -->
  <!-- gotoの値はurlpatterns で指定したnameの値を設定するとその関数が呼ばれるリンクになる -->
</div><!-- /.container -->
</body>
</html>